<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bienvenue sur Talaryo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {margin: 0; padding: 0; background-color: #f8f8f9; font-family: Arial, sans-serif; font-size: 15px; color: #333;}
        .container {width: 100%; max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 20px;}
        .content {margin: 20px 0;}
        .footer {font-size: 12px; color: #999; text-align: center; margin-top: 20px;}
        a {color: #0242c4; text-decoration: none;}
    </style>
</head>
<body>
    <div class="container">
        <div class="content">
            <p>Bienvenue sur Talaryo, {{user}},</p>
            <p>Merci d'avoir créé votre compte. Vous pouvez dès maintenant commencer vos premières recherches de candidats !</p>
            <p>Pour commencer, veuillez activer votre compte en cliquant sur le lien ci-dessous :</p>
            <p><a href="{{url}}">Activer votre compte</a></p>
            <p>Si vous n'êtes pas à l'origine de cette demande, veuillez nous envoyer un e-mail à : <u>{{support_MAIL}}</u></p>
        </div>
        <div class="footer">
            <p>Proffilo © 2023</p>
        </div>
    </div>
</body>
</html>
